<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>

 <header> 
    <a href="#" class="SocialMedias">facebook</a>
    <a href="#" class="SocialMedias">meta</a>
    <a href="#" class="SocialMedias">X</a>
    <a href="https://www.linkedin.com/" class="SocialMedias">LinkedIn</a>
    <a href="https://github.com/" class="SocialMedias">Github</a>
</header>  
 
 <nav> 
    <a href="" class="menuesitem">Home</a>
    <a href="" class="menuesitem">About-US</a>
    <a href="" class="menuesitem">Services</a>
    <a href="" class="menuesitem">Customers</a>
    <a href="" class="menuesitem">Contact-US</a>  
</nav>

 <section id="slider"> slider </section>

 <section id="intro">  Introduction  <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, enim? Odio eum, eos, laboriosam placeat provident magni quas impedit dolore vitae ipsa, harum voluptatum assumenda? Atque quaerat asperiores recusandae saepe.
 </section>

 <section id="services">  Services  
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, adipisci minima, doloribus exercitationem hic, dolorum aspernatur similique ratione nulla laborum rerum? Tenetur est quos natus tempore doloribus fugiat accusantium animi.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius excepturi beatae natus, sapiente aliquam animi optio quae nam facilis illo voluptatem, est nisi aut a nobis recusandae, vel nesciunt harum?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem provident eum quo incidunt odio sunt deserunt molestias magnam! Libero nemo nesciunt sequi velit dolores debitis fugiat sed vel voluptas eum.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus doloribus quisquam nemo, at soluta deleniti dolor enim quis numquam placeat doloremque vitae repudiandae deserunt! Officiis, nobis? Dolor impedit aperiam magni?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores hic saepe illo laboriosam tempore quidem excepturi officiis optio quia nisi officia doloribus, veritatis rerum repellat cumque assumenda accusamus est ex.</p>

 </section>

 <section id="customers"> 
    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio a inventore nemo quaerat. Vero, facere, aspernatur eaque nam, aperiam quisquam quae vitae mollitia quidem optio nesciunt error? Inventore, laudantium fuga!</P>
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et saepe ducimus possimus eaque, corrupti modi beatae minima! Fugit accusamus modi veniam unde aut atque illo, magni quae, eum non odio!</P>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum culpa vitae ipsum perspiciatis praesentium eum voluptates aspernatur nesciunt at recusandae. Similique, possimus! Accusamus dolorum magnam at, repellendus obcaecati iure optio.</P>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis ut similique suscipit nobis molestias nesciunt sunt asperiores at, perspiciatis voluptates reprehenderit excepturi veritatis quae quos nam iste recusandae, tenetur magni.</P>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat beatae ipsa ullam nisi, impedit, accusantium quia ad perspiciatis amet rerum odio excepturi, voluptatibus quasi consectetur. Inventore temporibus expedita voluptate aut!</P>  

 </section>

 <footer> 
   <a href="" class="FooterItems">search</a>
   <a href="" class="FooterItems">partner</a>
   <a href="" class="FooterItems">msn</a>
   <a href="" class="FooterItems">goverment</a><a href="" class="FooterItems">articles</a><a href="" class="FooterItems">catalogs</a> 
</footer> 


</body>
</html>